<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Perbaiki sekarang!">
    <meta name="author"
        content="Nicky Santano | Hans Richard Alim Natadjaja | Reiner Anggriawan Jasin | William | Franciscus Valentinus Ongkosianbhadra">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">
    <title>Registrasi Akun - Servisor</title>

    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.css">

    <link rel="stylesheet" href="../assets/css/templatemo-lava.css">

    <link rel="stylesheet" href="../assets/css/owl-carousel.css">

    <link rel="stylesheet" href="../assets/css/my-register.css">

    <link rel="icon" href="../assets/images/servisor-nobg.png">

</head>

<body style="background-color: #eaeaea; padding: 20px;" class="my-register-page">

    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <a href="../index.html" class="logo">
                            Servisor
                        </a>
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="../index.html#welcome">Beranda</a></li>
                            <li class="scroll-to-section"><a href="../index.html#about">Tentang</a></li>
                            <li class="scroll-to-section submenu">
                                <a href="../index.html#promotion">Fitur</a>
                                <ul>
                                    <li><a href="perbaikan.html">Perbaikan</a></li>
                                    <li><a href="perawatan.html">Perawatan</a></li>
                                    <li><a href="konsultasi.html">Konsultasi</a></li>
                                </ul>
                            </li>
                            <li class="scroll-to-section"><a href="../index.html#testimonials">Testimoni</a></li>
                            <li class="scroll-to-section"><a href="../index.html#contact-us">Ikuti Kami</a></li>
                            <!-- <li><a href="login.html">Masuk</a></li> -->
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </header>
<!-- 
    <div class="container" style="margin-top: 7em; margin-bottom: 5em;">
        <div
            style="background-image: url(assets/images/servisor-blur-opacity65.png); background-repeat: no-repeat;background-position: center;">
            <form method="POST" enctype="multipart/form-data" class="form_registrasi" id="form_registrasi">
                <div class="form-group">
                    <label for="name">Nama Lengkap :</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email :</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="pass">Kata Sandi :</label>
                    <input type="password" class="form-control" id="pass" name="pass" onkeyup='check();' required>
                </div>
                <div class="form-group">
                    <label for="cpass">Konfirmasi Kata Sandi :</label>
                    <input type="password" class="form-control" id="cpass" name="cpass" onkeyup='check();' required>
                    <span id='message'></span>
                    <br />
                    <span id='message2'></span>
                </div>

                <div class="form-group">
                    <label for="phone">Nomor telepon :</label>
                    <input type="number" class="form-control" id="phone" name="phone" required>
                </div>
                <div class="form-group">
                    <label for="address">Alamat Rumah :</label>
                    <input type="text" class="form-control" id="address" name="address" required>
                </div>
                <input class="btn btn-primary" type="submit" id="submit" name="submit" value="Kirim">
            </form>
        </div>
    </div> -->
    <!-- Register Section -->
    <section class="h-100">
        <div class="container h-100">
            <div class="row justify-content-md-center h-100">
                <div class="card-wrapper">
                    <div class="brand" style="margin-top: 5rem; margin-bottom: -2rem;">
                        <img src="../assets/images/servisor.png" alt="logo">
                    </div>
                    <div class="card fat">
                        <div class="card-body">
                            <h4 class="card-title">Registrasi</h4>
                            <!-- Form -->
                            <form method="POST" class="form_registrasi" id="form_registrasi" enctype="multipart/form-data">
                                <!-- Nama Lengkap -->
                                <div class="form-group">
                                    <label for="name">Nama Lengkap</label>
                                    <input id="name" type="name" class="form-control" name="name" value="" required
                                        autofocus>
                                    <div class="invalid-feedback">
                                        Nama Kosong
                                    </div>
                                </div>

                                <!-- Email -->
                                <div class="form-group">
                                    <label for="email">E-Mail Address</label>
                                    <input id="email" type="email" class="form-control" name="email" value="" required autofocus>                                    
                                </div>

                                <!-- Kata Sandi -->
                                <div class="form-group">
                                    <label for="pass">Kata Sandi</label>
                                    <input type="password" class="form-control" id="pass" name="pass" onkeyup='check();' required data-eye>
                                </div>

                                <!-- Konfirmasi Kata Sandi -->
                                <div class="form-group" style="margin: 0; padding: 0;">
                                    <label for="cpass">Konfirmasi Kata Sandi</label>
                                    <input type="password" class="form-control" id="cpass" name="cpass" onkeyup='check();' required data-eye>
                                </div>

                                <!-- Password Right or Wrong Notification -->
                                <span id='message'></span>
                                <br />
                                <span id='message2'></span>
                                
                                <!-- Nomor Telepon -->
                                <div class="form-group" style="margin-top: 5px;">
                                    <label for="phone">Nomor Telepon</label>
                                    <input type="number" class="form-control" id="phone" name="phone" required>
                                </div>

                                <!-- Alamat Rumah -->
                                <div class="form-group">
                                    <label for="address">Alamat Rumah :</label>
                                    <input type="text" class="form-control" id="address" name="address" required>
                                </div>          
                                
                                <!-- Button Enter -->
                                <div class="form-group m-0">
                                    <input class="btn btn-primary btn-block" type="submit" id="submit" name="submit" value="Daftar">
                                </div>

                                <!-- Already Have Account -->
                                <div class="mt-4 text-center">
                                    Sudah punya akun? <a href="login.html">Masuk sekarang</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="footer">
                        Copyright &copy; 2022 &mdash; Servisor
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script src="../assets/js/jquery-2.1.0.min.js"></script>

    <script src="../assets/js/popper.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>

    <script src="../assets/js/owl-carousel.js"></script>
    <script src="../assets/js/scrollreveal.min.js"></script>
    <script src="../assets/js/waypoints.min.js"></script>
    <script src="../assets/js/jquery.counterup.min.js"></script>
    <script src="../assets/js/imgfix.min.js"></script>

    <script src="../assets/js/custom.js"></script>

    <script src="../__/firebase/8.4.1/firebase-app.js"></script>

    <script src="../__/firebase/8.4.1/firebase-analytics.js"></script>

    <script src="../__/firebase/init.js"></script>

    <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
    <script src="../assets/js/auth/registrasi.js"></script>

    <script>
        var check = function () {
            if (document.getElementById('pass').value ==
                document.getElementById('cpass').value) {
                if (document.getElementById('pass').value.length < 8) {
                    document.getElementById('message').style.color = 'green';
                    document.getElementById('message').innerHTML = 'Kata sandi sesuai';
                    document.getElementById('message2').style.color = 'red';
                    document.getElementById('message2').innerHTML = 'Kata sandi belum mencapai 8 karakter atau lebih';
                    document.getElementById("submit").disabled = true;
                }
                else {
                    document.getElementById('message').style.color = 'green';
                    document.getElementById('message').innerHTML = 'Kata sandi sesuai';
                    document.getElementById('message2').style.color = 'green';
                    document.getElementById('message2').innerHTML = 'Kata sandi sudah mencapai 8 karakter atau lebih';
                    document.getElementById("submit").disabled = false;
                }

            } else {
                if (document.getElementById('pass').value.length < 8) {
                    document.getElementById('message').style.color = 'red';
                    document.getElementById('message').innerHTML = 'Kata sandi tidak sesuai';
                    document.getElementById('message2').style.color = 'red';
                    document.getElementById('message2').innerHTML = 'Kata sandi belum mencapai 8 karakter atau lebih';
                    document.getElementById("submit").disabled = true;
                }
                else {
                    document.getElementById('message').style.color = 'red';
                    document.getElementById('message').innerHTML = 'Kata sandi tidak sesuai';
                    document.getElementById('message2').style.color = 'green';
                    document.getElementById('message2').innerHTML = 'Kata sandi sudah mencapai 8 karakter atau lebih';
                    document.getElementById("submit").disabled = true;
                }
            }
        }
    </script>
</body>

</html>