#image1 {
    display: block;
}
#image1.hide{
    display: none;
}

#image2 {
    display: block;
}
#image2.hide{
    display: none;

}

#image3 {
    display: block;

}
#image3.hide{
    display: none;

}

.backCara{
    background-color: #45a1e4;
    border-radius: 20px;
    color: #FFFFFF;
    z-index: 2;
}
.backCara.hide{
    background-color: transparent;
    border-radius: 20px;
    color: #000;
    z-index: 2;
}

.listCara{
    z-index: 5;
}
