.container123 {
    position: relative;
    width: 20%;
  }
  
  .image123 {
    display: block;
    width: 100px;
    height: auto;
  }
  
  .overlay123 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    width: 100px;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
    border-radius: 10px;
  }
  
  .container123:hover .overlay123 {
    opacity: 1;
  }
  
  .text123 {
    color: white;
    background-color: #008CBA;
    font-size: 20px;
    position: relative;
    top: 17.5px;
    text-align: center;
  }